# Environment files
.env
.env.*
!.env.example

# Dependencies and build
node_modules/
dist/
build/
.next/
.vercel

# IDE and OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Syncronization shared files
shared/types/sync.ffs_db

# FFS Sync database files
**/sync.ffs_db

# Log and report files
izvjestaj.txt
root_tree.txt

# Backup files
backend/backups/

# windsurf rules
.windsurfrules
