--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: bozos
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO bozos;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: bozos
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Hours; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public."Hours" (
    id integer NOT NULL,
    activity_id integer NOT NULL,
    date timestamp with time zone NOT NULL,
    hours integer NOT NULL,
    verified boolean DEFAULT false,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Hours" OWNER TO bozos;

--
-- Name: Hours_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public."Hours_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Hours_id_seq" OWNER TO bozos;

--
-- Name: Hours_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public."Hours_id_seq" OWNED BY public."Hours".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO bozos;

--
-- Name: activities; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.activities (
    activity_id integer NOT NULL,
    title character varying(100) NOT NULL,
    description text,
    start_date timestamp without time zone NOT NULL,
    end_date timestamp without time zone NOT NULL,
    location character varying(100),
    difficulty_level character varying(20),
    max_participants integer,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    activity_type_id integer
);


ALTER TABLE public.activities OWNER TO bozos;

--
-- Name: activities_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.activities_activity_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activities_activity_id_seq OWNER TO bozos;

--
-- Name: activities_activity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.activities_activity_id_seq OWNED BY public.activities.activity_id;


--
-- Name: activity_participants; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.activity_participants (
    participant_id integer NOT NULL,
    activity_id integer NOT NULL,
    member_id integer NOT NULL,
    joined_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.activity_participants OWNER TO bozos;

--
-- Name: activity_participants_participant_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.activity_participants_participant_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activity_participants_participant_id_seq OWNER TO bozos;

--
-- Name: activity_participants_participant_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.activity_participants_participant_id_seq OWNED BY public.activity_participants.participant_id;


--
-- Name: activity_types; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.activity_types (
    type_id integer NOT NULL,
    name character varying(50) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.activity_types OWNER TO bozos;

--
-- Name: activity_types_type_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.activity_types_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activity_types_type_id_seq OWNER TO bozos;

--
-- Name: activity_types_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.activity_types_type_id_seq OWNED BY public.activity_types.type_id;


--
-- Name: annual_statistics; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.annual_statistics (
    stat_id integer NOT NULL,
    member_id integer,
    year integer NOT NULL,
    total_hours numeric(7,2) NOT NULL,
    total_activities integer NOT NULL,
    membership_status character varying(20) NOT NULL,
    calculated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.annual_statistics OWNER TO bozos;

--
-- Name: annual_statistics_stat_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.annual_statistics_stat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.annual_statistics_stat_id_seq OWNER TO bozos;

--
-- Name: annual_statistics_stat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.annual_statistics_stat_id_seq OWNED BY public.annual_statistics.stat_id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.audit_logs (
    log_id integer NOT NULL,
    action_type character varying(50) NOT NULL,
    performed_by integer,
    action_details text NOT NULL,
    ip_address character varying(45),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20),
    affected_member integer
);


ALTER TABLE public.audit_logs OWNER TO bozos;

--
-- Name: audit_logs_log_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.audit_logs_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_log_id_seq OWNER TO bozos;

--
-- Name: audit_logs_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.audit_logs_log_id_seq OWNED BY public.audit_logs.log_id;


--
-- Name: member_messages; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.member_messages (
    message_id integer NOT NULL,
    member_id integer,
    message_text text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    read_at timestamp without time zone,
    status character varying(20) DEFAULT 'unread'::character varying,
    CONSTRAINT status_values CHECK (((status)::text = ANY ((ARRAY['unread'::character varying, 'read'::character varying, 'archived'::character varying])::text[])))
);


ALTER TABLE public.member_messages OWNER TO bozos;

--
-- Name: member_messages_message_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.member_messages_message_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.member_messages_message_id_seq OWNER TO bozos;

--
-- Name: member_messages_message_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.member_messages_message_id_seq OWNED BY public.member_messages.message_id;


--
-- Name: members; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.members (
    member_id integer NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying,
    date_of_birth date,
    oib character varying(11) NOT NULL,
    cell_phone character varying(20) NOT NULL,
    city character varying(100) NOT NULL,
    street_address character varying(200) NOT NULL,
    email character varying(255),
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    life_status character varying(25),
    role character varying(20) DEFAULT 'member'::character varying NOT NULL,
    total_hours numeric(10,2) DEFAULT 0,
    full_name character varying(100) GENERATED ALWAYS AS ((((first_name)::text || ' '::text) || (last_name)::text)) STORED,
    tshirt_size character varying(4),
    shell_jacket_size character varying(4),
    profile_image_path character varying(255),
    profile_image_updated_at timestamp without time zone,
    membership_type character varying(20) DEFAULT 'regular'::character varying,
    CONSTRAINT life_status_check CHECK (((life_status)::text = ANY ((ARRAY['employed/unemployed'::character varying, 'child/pupil/student'::character varying, 'pensioner'::character varying])::text[]))),
    CONSTRAINT members_membership_type_check CHECK (((membership_type)::text = ANY ((ARRAY['regular'::character varying, 'supporting'::character varying, 'honorary'::character varying])::text[]))),
    CONSTRAINT members_role_check CHECK (((role)::text = ANY ((ARRAY['member'::character varying, 'admin'::character varying, 'superuser'::character varying])::text[])))
);


ALTER TABLE public.members OWNER TO bozos;

--
-- Name: members_member_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.members_member_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.members_member_id_seq OWNER TO bozos;

--
-- Name: members_member_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.members_member_id_seq OWNED BY public.members.member_id;


--
-- Name: stamp_inventory; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.stamp_inventory (
    id integer NOT NULL,
    stamp_type character varying(20) NOT NULL,
    initial_count integer DEFAULT 0 NOT NULL,
    issued_count integer DEFAULT 0,
    remaining integer GENERATED ALWAYS AS ((initial_count - issued_count)) STORED,
    last_updated timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT stamp_type_check CHECK (((stamp_type)::text = ANY ((ARRAY['employed'::character varying, 'student'::character varying, 'pensioner'::character varying])::text[])))
);


ALTER TABLE public.stamp_inventory OWNER TO bozos;

--
-- Name: stamp_inventory_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.stamp_inventory_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stamp_inventory_id_seq OWNER TO bozos;

--
-- Name: stamp_inventory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.stamp_inventory_id_seq OWNED BY public.stamp_inventory.id;


--
-- Name: Hours id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public."Hours" ALTER COLUMN id SET DEFAULT nextval('public."Hours_id_seq"'::regclass);


--
-- Name: activities activity_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activities ALTER COLUMN activity_id SET DEFAULT nextval('public.activities_activity_id_seq'::regclass);


--
-- Name: activity_participants participant_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activity_participants ALTER COLUMN participant_id SET DEFAULT nextval('public.activity_participants_participant_id_seq'::regclass);


--
-- Name: activity_types type_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activity_types ALTER COLUMN type_id SET DEFAULT nextval('public.activity_types_type_id_seq'::regclass);


--
-- Name: annual_statistics stat_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.annual_statistics ALTER COLUMN stat_id SET DEFAULT nextval('public.annual_statistics_stat_id_seq'::regclass);


--
-- Name: audit_logs log_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN log_id SET DEFAULT nextval('public.audit_logs_log_id_seq'::regclass);


--
-- Name: member_messages message_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_messages ALTER COLUMN message_id SET DEFAULT nextval('public.member_messages_message_id_seq'::regclass);


--
-- Name: members member_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.members ALTER COLUMN member_id SET DEFAULT nextval('public.members_member_id_seq'::regclass);


--
-- Name: stamp_inventory id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.stamp_inventory ALTER COLUMN id SET DEFAULT nextval('public.stamp_inventory_id_seq'::regclass);


--
-- Data for Name: Hours; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public."Hours" (id, activity_id, date, hours, verified, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
\.


--
-- Data for Name: activities; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.activities (activity_id, title, description, start_date, end_date, location, difficulty_level, max_participants, created_by, created_at, activity_type_id) FROM stdin;
\.


--
-- Data for Name: activity_participants; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.activity_participants (participant_id, activity_id, member_id, joined_at) FROM stdin;
\.


--
-- Data for Name: activity_types; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.activity_types (type_id, name, description, created_at) FROM stdin;
1	hiking	Mountain hiking activities	2024-12-30 03:43:32.556731
2	climbing	Rock climbing activities	2024-12-30 03:43:32.556731
3	training	Training and educational activities	2024-12-30 03:43:32.556731
4	maintenance	Trail and equipment maintenance	2024-12-30 03:43:32.556731
5	social	Social gatherings and meetings	2024-12-30 03:43:32.556731
\.


--
-- Data for Name: annual_statistics; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.annual_statistics (stat_id, member_id, year, total_hours, total_activities, membership_status, calculated_at) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.audit_logs (log_id, action_type, performed_by, action_details, ip_address, created_at, status, affected_member) FROM stdin;
\.


--
-- Data for Name: member_messages; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.member_messages (message_id, member_id, message_text, created_at, read_at, status) FROM stdin;
\.


--
-- Data for Name: members; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.members (member_id, status, date_of_birth, oib, cell_phone, city, street_address, email, first_name, last_name, life_status, role, total_hours, tshirt_size, shell_jacket_size, profile_image_path, profile_image_updated_at, membership_type) FROM stdin;
\.


--
-- Data for Name: stamp_inventory; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.stamp_inventory (id, stamp_type, initial_count, issued_count, last_updated) FROM stdin;
1	employed	0	0	2024-12-30 03:43:32.556731
2	student	0	0	2024-12-30 03:43:32.556731
3	pensioner	0	0	2024-12-30 03:43:32.556731
\.


--
-- Name: Hours_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public."Hours_id_seq"', 1, false);


--
-- Name: activities_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.activities_activity_id_seq', 1, false);


--
-- Name: activity_participants_participant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.activity_participants_participant_id_seq', 1, false);


--
-- Name: activity_types_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.activity_types_type_id_seq', 5, true);


--
-- Name: annual_statistics_stat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.annual_statistics_stat_id_seq', 1, false);


--
-- Name: audit_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.audit_logs_log_id_seq', 1, false);


--
-- Name: member_messages_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.member_messages_message_id_seq', 1, false);


--
-- Name: members_member_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.members_member_id_seq', 1, false);


--
-- Name: stamp_inventory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.stamp_inventory_id_seq', 3, true);


--
-- Name: Hours Hours_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public."Hours"
    ADD CONSTRAINT "Hours_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: activities activities_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_pkey PRIMARY KEY (activity_id);


--
-- Name: activity_participants activity_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activity_participants
    ADD CONSTRAINT activity_participants_pkey PRIMARY KEY (participant_id);


--
-- Name: activity_types activity_types_name_key; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activity_types
    ADD CONSTRAINT activity_types_name_key UNIQUE (name);


--
-- Name: activity_types activity_types_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activity_types
    ADD CONSTRAINT activity_types_pkey PRIMARY KEY (type_id);


--
-- Name: annual_statistics annual_statistics_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.annual_statistics
    ADD CONSTRAINT annual_statistics_pkey PRIMARY KEY (stat_id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (log_id);


--
-- Name: member_messages member_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_messages
    ADD CONSTRAINT member_messages_pkey PRIMARY KEY (message_id);


--
-- Name: members members_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT members_pkey PRIMARY KEY (member_id);


--
-- Name: stamp_inventory stamp_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.stamp_inventory
    ADD CONSTRAINT stamp_inventory_pkey PRIMARY KEY (id);


--
-- Name: stamp_inventory stamp_type_unique; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.stamp_inventory
    ADD CONSTRAINT stamp_type_unique UNIQUE (stamp_type);


--
-- Name: annual_statistics unique_member_year; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.annual_statistics
    ADD CONSTRAINT unique_member_year UNIQUE (member_id, year);


--
-- Name: idx_activities_type; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_activities_type ON public.activities USING btree (activity_type_id);


--
-- Name: idx_activity_participants_activity; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_activity_participants_activity ON public.activity_participants USING btree (activity_id);


--
-- Name: idx_activity_participants_member; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_activity_participants_member ON public.activity_participants USING btree (member_id);


--
-- Name: activities activities_activity_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_activity_type_id_fkey FOREIGN KEY (activity_type_id) REFERENCES public.activity_types(type_id);


--
-- Name: activity_participants activity_participants_activity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activity_participants
    ADD CONSTRAINT activity_participants_activity_id_fkey FOREIGN KEY (activity_id) REFERENCES public.activities(activity_id);


--
-- Name: activity_participants activity_participants_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activity_participants
    ADD CONSTRAINT activity_participants_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(member_id);


--
-- Name: annual_statistics annual_statistics_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.annual_statistics
    ADD CONSTRAINT annual_statistics_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(member_id);


--
-- Name: audit_logs audit_logs_affected_member_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_affected_member_fkey FOREIGN KEY (affected_member) REFERENCES public.members(member_id);


--
-- Name: audit_logs audit_logs_performed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_performed_by_fkey FOREIGN KEY (performed_by) REFERENCES public.members(member_id);


--
-- Name: member_messages member_messages_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_messages
    ADD CONSTRAINT member_messages_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(member_id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: bozos
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

