# Dependencies
/node_modules
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Testing
/coverage
coverage/

# Production build
/dist
/build
dist/

# Temporary files
*.tmp
*.temp

# Uploads
uploads/
.vercel

scripts/