# Dependencies
/node_modules
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Testing
/coverage
coverage/

# Production build
/dist
/build
dist/

# Temporary files
*.tmp
*.temp

# Uploads
uploads/
.vercel

scripts/
.vercel

# Testni alati koji nisu potrebni u produkciji
src/middleware/test-mode.middleware.ts
src/migrations/add_test_data_flag.sql
src/tests
