--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: bozos
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO bozos;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: bozos
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ActivityStatus; Type: TYPE; Schema: public; Owner: bozos
--

CREATE TYPE public."ActivityStatus" AS ENUM (
    'PLANNED',
    'ACTIVE',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public."ActivityStatus" OWNER TO bozos;

--
-- Name: PerformerType; Type: TYPE; Schema: public; Owner: bozos
--

CREATE TYPE public."PerformerType" AS ENUM (
    'MEMBER',
    'SYSTEM_MANAGER'
);


ALTER TYPE public."PerformerType" OWNER TO bozos;

--
-- Name: SenderType; Type: TYPE; Schema: public; Owner: bozos
--

CREATE TYPE public."SenderType" AS ENUM (
    'member',
    'member_administrator',
    'member_superuser'
);


ALTER TYPE public."SenderType" OWNER TO bozos;

--
-- Name: participant_roles; Type: TYPE; Schema: public; Owner: bozos
--

CREATE TYPE public.participant_roles AS ENUM (
    'GUIDE',
    'ASSISTANT_GUIDE',
    'DRIVER',
    'REGULAR'
);


ALTER TYPE public.participant_roles OWNER TO bozos;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO bozos;

--
-- Name: activities; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.activities (
    activity_id integer NOT NULL,
    name text NOT NULL,
    description text,
    type_id integer NOT NULL,
    organizer_id integer NOT NULL,
    status public."ActivityStatus" DEFAULT 'PLANNED'::public."ActivityStatus" NOT NULL,
    start_date timestamp(3) without time zone NOT NULL,
    actual_start_time timestamp(3) without time zone,
    actual_end_time timestamp(3) without time zone,
    recognition_percentage double precision DEFAULT 100 NOT NULL,
    cancellation_reason text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    manual_hours double precision
);


ALTER TABLE public.activities OWNER TO bozos;

--
-- Name: activities_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.activities_activity_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activities_activity_id_seq OWNER TO bozos;

--
-- Name: activities_activity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.activities_activity_id_seq OWNED BY public.activities.activity_id;


--
-- Name: activity_participations; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.activity_participations (
    participation_id integer NOT NULL,
    activity_id integer NOT NULL,
    member_id integer NOT NULL,
    start_time timestamp(3) without time zone,
    end_time timestamp(3) without time zone,
    manual_hours double precision,
    recognition_override double precision,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    participant_role public.participant_roles
);


ALTER TABLE public.activity_participations OWNER TO bozos;

--
-- Name: activity_participations_participation_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.activity_participations_participation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activity_participations_participation_id_seq OWNER TO bozos;

--
-- Name: activity_participations_participation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.activity_participations_participation_id_seq OWNED BY public.activity_participations.participation_id;


--
-- Name: activity_types; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.activity_types (
    type_id integer NOT NULL,
    key text NOT NULL,
    name character varying(50) NOT NULL,
    description text,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.activity_types OWNER TO bozos;

--
-- Name: activity_types_type_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.activity_types_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activity_types_type_id_seq OWNER TO bozos;

--
-- Name: activity_types_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.activity_types_type_id_seq OWNED BY public.activity_types.type_id;


--
-- Name: annual_statistics; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.annual_statistics (
    stat_id integer NOT NULL,
    member_id integer,
    year integer NOT NULL,
    total_hours numeric(7,2) NOT NULL,
    total_activities integer NOT NULL,
    membership_status character varying(20) NOT NULL,
    calculated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.annual_statistics OWNER TO bozos;

--
-- Name: annual_statistics_stat_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.annual_statistics_stat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.annual_statistics_stat_id_seq OWNER TO bozos;

--
-- Name: annual_statistics_stat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.annual_statistics_stat_id_seq OWNED BY public.annual_statistics.stat_id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.audit_logs (
    log_id integer NOT NULL,
    action_type character varying(50) NOT NULL,
    performed_by integer,
    performer_type public."PerformerType",
    action_details text NOT NULL,
    ip_address character varying(45),
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20),
    affected_member integer
);


ALTER TABLE public.audit_logs OWNER TO bozos;

--
-- Name: audit_logs_log_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.audit_logs_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_log_id_seq OWNER TO bozos;

--
-- Name: audit_logs_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.audit_logs_log_id_seq OWNED BY public.audit_logs.log_id;


--
-- Name: card_numbers; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.card_numbers (
    id integer NOT NULL,
    card_number character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'available'::character varying NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    assigned_at timestamp(6) with time zone,
    member_id integer
);


ALTER TABLE public.card_numbers OWNER TO bozos;

--
-- Name: card_numbers_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.card_numbers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.card_numbers_id_seq OWNER TO bozos;

--
-- Name: card_numbers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.card_numbers_id_seq OWNED BY public.card_numbers.id;


--
-- Name: consumed_card_numbers; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.consumed_card_numbers (
    id integer NOT NULL,
    card_number text NOT NULL,
    member_id integer NOT NULL,
    consumed_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    issued_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.consumed_card_numbers OWNER TO bozos;

--
-- Name: consumed_card_numbers_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.consumed_card_numbers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.consumed_card_numbers_id_seq OWNER TO bozos;

--
-- Name: consumed_card_numbers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.consumed_card_numbers_id_seq OWNED BY public.consumed_card_numbers.id;


--
-- Name: equipment_inventory; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.equipment_inventory (
    id integer NOT NULL,
    equipment_type character varying(20) NOT NULL,
    size character varying(4) NOT NULL,
    gender character varying(6) NOT NULL,
    initial_count integer DEFAULT 0 NOT NULL,
    issued_count integer DEFAULT 0 NOT NULL,
    gift_count integer DEFAULT 0 NOT NULL,
    last_updated timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.equipment_inventory OWNER TO bozos;

--
-- Name: equipment_inventory_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.equipment_inventory_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.equipment_inventory_id_seq OWNER TO bozos;

--
-- Name: equipment_inventory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.equipment_inventory_id_seq OWNED BY public.equipment_inventory.id;


--
-- Name: holidays; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.holidays (
    id integer NOT NULL,
    date date NOT NULL,
    name character varying(100) NOT NULL,
    is_recurring boolean DEFAULT false NOT NULL,
    created_by integer,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.holidays OWNER TO bozos;

--
-- Name: holidays_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.holidays_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.holidays_id_seq OWNER TO bozos;

--
-- Name: holidays_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.holidays_id_seq OWNED BY public.holidays.id;


--
-- Name: member_administrator; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.member_administrator (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    display_name character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_login timestamp(6) without time zone
);


ALTER TABLE public.member_administrator OWNER TO bozos;

--
-- Name: member_administrator_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.member_administrator_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.member_administrator_id_seq OWNER TO bozos;

--
-- Name: member_administrator_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.member_administrator_id_seq OWNED BY public.member_administrator.id;


--
-- Name: member_messages; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.member_messages (
    message_id integer NOT NULL,
    member_id integer,
    message_text text NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    sender_id integer,
    recipient_id integer,
    recipient_type character varying(20) DEFAULT 'member_administrator'::character varying,
    sender_type public."SenderType" DEFAULT 'member'::public."SenderType" NOT NULL
);


ALTER TABLE public.member_messages OWNER TO bozos;

--
-- Name: member_messages_message_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.member_messages_message_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.member_messages_message_id_seq OWNER TO bozos;

--
-- Name: member_messages_message_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.member_messages_message_id_seq OWNED BY public.member_messages.message_id;


--
-- Name: member_permissions; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.member_permissions (
    permission_id integer NOT NULL,
    member_id integer,
    can_manage_end_reasons boolean DEFAULT false,
    granted_by integer,
    granted_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    can_add_members boolean DEFAULT false,
    can_approve_activities boolean DEFAULT false,
    can_assign_passwords boolean DEFAULT false,
    can_create_activities boolean DEFAULT false,
    can_edit_members boolean DEFAULT false,
    can_export_data boolean DEFAULT false,
    can_manage_all_messages boolean DEFAULT false,
    can_manage_card_numbers boolean DEFAULT false,
    can_manage_financials boolean DEFAULT false,
    can_manage_membership boolean DEFAULT false,
    can_send_group_messages boolean DEFAULT false,
    can_view_activities boolean DEFAULT false,
    can_view_financials boolean DEFAULT false,
    can_view_members boolean DEFAULT false,
    can_view_statistics boolean DEFAULT false,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.member_permissions OWNER TO bozos;

--
-- Name: member_permissions_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.member_permissions_permission_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.member_permissions_permission_id_seq OWNER TO bozos;

--
-- Name: member_permissions_permission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.member_permissions_permission_id_seq OWNED BY public.member_permissions.permission_id;


--
-- Name: member_skills; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.member_skills (
    member_id integer NOT NULL,
    skill_id integer NOT NULL,
    is_instructor boolean DEFAULT false NOT NULL,
    assigned_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.member_skills OWNER TO bozos;

--
-- Name: members; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.members (
    status character varying(50) DEFAULT 'pending'::character varying,
    date_of_birth date,
    oib character varying(11) NOT NULL,
    cell_phone character varying(20) NOT NULL,
    city character varying(100) NOT NULL,
    street_address character varying(200) NOT NULL,
    email character varying(255),
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    member_id integer NOT NULL,
    password_hash character varying(255),
    role character varying(20) DEFAULT 'member'::character varying NOT NULL,
    last_login timestamp(6) without time zone,
    full_name character varying(100) NOT NULL,
    life_status character varying(25),
    tshirt_size character varying(4),
    shell_jacket_size character varying(4),
    total_hours numeric(10,2) DEFAULT 0,
    gender character varying(6),
    registration_completed boolean DEFAULT false,
    profile_image_path character varying(255),
    profile_image_updated_at timestamp(6) without time zone,
    membership_type character varying(20) DEFAULT 'regular'::character varying,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    nickname character varying(50),
    failed_login_attempts integer DEFAULT 0 NOT NULL,
    last_failed_login timestamp(6) without time zone,
    locked_until timestamp(6) without time zone,
    other_skills character varying(500),
    functions_in_society character varying(250),
    shell_jacket_delivered boolean DEFAULT false NOT NULL,
    tshirt_delivered boolean DEFAULT false NOT NULL,
    hat_delivered boolean DEFAULT false NOT NULL,
    hat_size character varying(4),
    activity_hours numeric(10,2) DEFAULT 0
);


ALTER TABLE public.members OWNER TO bozos;

--
-- Name: members_member_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.members_member_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.members_member_id_seq OWNER TO bozos;

--
-- Name: members_member_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.members_member_id_seq OWNED BY public.members.member_id;


--
-- Name: membership_details; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.membership_details (
    member_id integer NOT NULL,
    card_number character varying(50),
    fee_payment_year integer,
    card_stamp_issued boolean DEFAULT false,
    fee_payment_date timestamp(6) without time zone,
    next_year_stamp_issued boolean DEFAULT false,
    status character varying(20) DEFAULT 'active'::character varying,
    active_until timestamp(6) without time zone
);


ALTER TABLE public.membership_details OWNER TO bozos;

--
-- Name: membership_periods; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.membership_periods (
    period_id integer NOT NULL,
    member_id integer,
    start_date timestamp(6) without time zone NOT NULL,
    end_date timestamp(6) without time zone,
    end_reason character varying(20),
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    is_test_data boolean DEFAULT false
);


ALTER TABLE public.membership_periods OWNER TO bozos;

--
-- Name: membership_periods_period_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.membership_periods_period_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.membership_periods_period_id_seq OWNER TO bozos;

--
-- Name: membership_periods_period_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.membership_periods_period_id_seq OWNED BY public.membership_periods.period_id;


--
-- Name: message_recipient_status; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.message_recipient_status (
    message_recipient_status_id integer NOT NULL,
    message_id integer NOT NULL,
    recipient_member_id integer NOT NULL,
    status character varying(20) DEFAULT 'unread'::character varying NOT NULL,
    read_at timestamp(6) without time zone,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.message_recipient_status OWNER TO bozos;

--
-- Name: message_recipient_status_message_recipient_status_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.message_recipient_status_message_recipient_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.message_recipient_status_message_recipient_status_id_seq OWNER TO bozos;

--
-- Name: message_recipient_status_message_recipient_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.message_recipient_status_message_recipient_status_id_seq OWNED BY public.message_recipient_status.message_recipient_status_id;


--
-- Name: password_update_queue; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.password_update_queue (
    queue_id integer NOT NULL,
    member_id integer NOT NULL,
    card_number character varying(20) NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP,
    processed boolean DEFAULT false
);


ALTER TABLE public.password_update_queue OWNER TO bozos;

--
-- Name: password_update_queue_queue_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.password_update_queue_queue_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_update_queue_queue_id_seq OWNER TO bozos;

--
-- Name: password_update_queue_queue_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.password_update_queue_queue_id_seq OWNED BY public.password_update_queue.queue_id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.refresh_tokens (
    id integer NOT NULL,
    token text NOT NULL,
    member_id integer NOT NULL,
    expires_at timestamp(6) without time zone NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO bozos;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.refresh_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refresh_tokens_id_seq OWNER TO bozos;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.refresh_tokens_id_seq OWNED BY public.refresh_tokens.id;


--
-- Name: skills; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.skills (
    id integer NOT NULL,
    key character varying(100) NOT NULL,
    name character varying(255) NOT NULL,
    is_instructor_possible boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.skills OWNER TO bozos;

--
-- Name: skills_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.skills_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.skills_id_seq OWNER TO bozos;

--
-- Name: skills_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.skills_id_seq OWNED BY public.skills.id;


--
-- Name: stamp_history; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.stamp_history (
    id integer NOT NULL,
    year integer NOT NULL,
    stamp_type character varying(50) NOT NULL,
    initial_count integer NOT NULL,
    issued_count integer NOT NULL,
    reset_date timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    reset_by integer,
    notes text,
    stamp_year integer NOT NULL
);


ALTER TABLE public.stamp_history OWNER TO bozos;

--
-- Name: stamp_history_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.stamp_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stamp_history_id_seq OWNER TO bozos;

--
-- Name: stamp_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.stamp_history_id_seq OWNED BY public.stamp_history.id;


--
-- Name: stamp_inventory; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.stamp_inventory (
    id integer NOT NULL,
    stamp_type character varying(20) NOT NULL,
    initial_count integer DEFAULT 0 NOT NULL,
    issued_count integer DEFAULT 0,
    remaining integer,
    last_updated timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    stamp_year integer
);


ALTER TABLE public.stamp_inventory OWNER TO bozos;

--
-- Name: stamp_inventory_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.stamp_inventory_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stamp_inventory_id_seq OWNER TO bozos;

--
-- Name: stamp_inventory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.stamp_inventory_id_seq OWNED BY public.stamp_inventory.id;


--
-- Name: system_manager; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.system_manager (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    display_name character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login timestamp(6) without time zone
);


ALTER TABLE public.system_manager OWNER TO bozos;

--
-- Name: system_manager_id_seq; Type: SEQUENCE; Schema: public; Owner: bozos
--

CREATE SEQUENCE public.system_manager_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.system_manager_id_seq OWNER TO bozos;

--
-- Name: system_manager_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bozos
--

ALTER SEQUENCE public.system_manager_id_seq OWNED BY public.system_manager.id;


--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: bozos
--

CREATE TABLE public.system_settings (
    id text DEFAULT 'default'::text NOT NULL,
    card_number_length integer DEFAULT 5,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    renewal_start_day integer DEFAULT 1,
    updated_by integer,
    renewal_start_month integer DEFAULT 11,
    time_zone text DEFAULT 'Europe/Zagreb'::text,
    membership_termination_day integer DEFAULT 1,
    membership_termination_month integer DEFAULT 3,
    duty_auto_create_enabled boolean DEFAULT true,
    duty_calendar_enabled boolean DEFAULT false,
    duty_max_participants integer DEFAULT 2
);


ALTER TABLE public.system_settings OWNER TO bozos;

--
-- Name: activities activity_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activities ALTER COLUMN activity_id SET DEFAULT nextval('public.activities_activity_id_seq'::regclass);


--
-- Name: activity_participations participation_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activity_participations ALTER COLUMN participation_id SET DEFAULT nextval('public.activity_participations_participation_id_seq'::regclass);


--
-- Name: activity_types type_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activity_types ALTER COLUMN type_id SET DEFAULT nextval('public.activity_types_type_id_seq'::regclass);


--
-- Name: annual_statistics stat_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.annual_statistics ALTER COLUMN stat_id SET DEFAULT nextval('public.annual_statistics_stat_id_seq'::regclass);


--
-- Name: audit_logs log_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN log_id SET DEFAULT nextval('public.audit_logs_log_id_seq'::regclass);


--
-- Name: card_numbers id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.card_numbers ALTER COLUMN id SET DEFAULT nextval('public.card_numbers_id_seq'::regclass);


--
-- Name: consumed_card_numbers id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.consumed_card_numbers ALTER COLUMN id SET DEFAULT nextval('public.consumed_card_numbers_id_seq'::regclass);


--
-- Name: equipment_inventory id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.equipment_inventory ALTER COLUMN id SET DEFAULT nextval('public.equipment_inventory_id_seq'::regclass);


--
-- Name: holidays id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.holidays ALTER COLUMN id SET DEFAULT nextval('public.holidays_id_seq'::regclass);


--
-- Name: member_administrator id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_administrator ALTER COLUMN id SET DEFAULT nextval('public.member_administrator_id_seq'::regclass);


--
-- Name: member_messages message_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_messages ALTER COLUMN message_id SET DEFAULT nextval('public.member_messages_message_id_seq'::regclass);


--
-- Name: member_permissions permission_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_permissions ALTER COLUMN permission_id SET DEFAULT nextval('public.member_permissions_permission_id_seq'::regclass);


--
-- Name: members member_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.members ALTER COLUMN member_id SET DEFAULT nextval('public.members_member_id_seq'::regclass);


--
-- Name: membership_periods period_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.membership_periods ALTER COLUMN period_id SET DEFAULT nextval('public.membership_periods_period_id_seq'::regclass);


--
-- Name: message_recipient_status message_recipient_status_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.message_recipient_status ALTER COLUMN message_recipient_status_id SET DEFAULT nextval('public.message_recipient_status_message_recipient_status_id_seq'::regclass);


--
-- Name: password_update_queue queue_id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.password_update_queue ALTER COLUMN queue_id SET DEFAULT nextval('public.password_update_queue_queue_id_seq'::regclass);


--
-- Name: refresh_tokens id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.refresh_tokens ALTER COLUMN id SET DEFAULT nextval('public.refresh_tokens_id_seq'::regclass);


--
-- Name: skills id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.skills ALTER COLUMN id SET DEFAULT nextval('public.skills_id_seq'::regclass);


--
-- Name: stamp_history id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.stamp_history ALTER COLUMN id SET DEFAULT nextval('public.stamp_history_id_seq'::regclass);


--
-- Name: stamp_inventory id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.stamp_inventory ALTER COLUMN id SET DEFAULT nextval('public.stamp_inventory_id_seq'::regclass);


--
-- Name: system_manager id; Type: DEFAULT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.system_manager ALTER COLUMN id SET DEFAULT nextval('public.system_manager_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: bozos
--



--
-- Data for Name: activities; Type: TABLE DATA; Schema: public; Owner: bozos
--



--
-- Data for Name: activity_participations; Type: TABLE DATA; Schema: public; Owner: bozos
--



--
-- Data for Name: activity_types; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.activity_types (type_id, key, name, description, created_at) FROM stdin;
1	akcija-drustvo	AKCIJA DRU┼áTVO	Radne akcije u organizaciji Dru┼ítva	2025-07-23 10:23:08.007
2	akcija-trail	AKCIJA TRAIL	Radne akcije za Trail	2025-07-23 10:23:08.01
3	dezurstva	DE┼ŻURSTVA	De┼żurstva u domu	2025-07-23 10:23:08.011
4	izleti	IZLETI	Organizacija, vo─Ĺenje i sudjelovanje na izletima	2025-07-23 10:23:08.013
5	razno	RAZNO	Ostale razne aktivnosti	2025-07-23 10:23:08.016
6	sastanci	SASTANCI	Sastanci ─Źlanova i upravnog odbora	2025-07-23 10:23:08.019
\.


--
-- Data for Name: annual_statistics; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.annual_statistics (stat_id, member_id, year, total_hours, total_activities, membership_status, calculated_at) FROM stdin;
911	1	2025	43.95	5		2025-10-01 12:33:55.187
912	2	2025	27.45	3		2025-08-19 14:06:35.729
910	6	2025	34.45	4		2025-08-19 14:13:40.744
913	4	2025	30.17	4		2025-08-19 14:13:40.757
914	7	2025	39.91	4		2025-08-19 14:13:40.771
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: bozos
--



--
-- Data for Name: card_numbers; Type: TABLE DATA; Schema: public; Owner: bozos
--



--
-- Data for Name: consumed_card_numbers; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.consumed_card_numbers (id, card_number, member_id, consumed_at, issued_at) FROM stdin;
1	022221	5	2025-08-16 05:42:43.18	2025-08-16 05:42:43.18
2	022222	5	2025-08-16 06:09:18.019	2025-08-16 06:09:18.019
3	022223	5	2025-08-16 06:46:42.357	2025-08-16 06:46:42.357
\.


--
-- Data for Name: equipment_inventory; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.equipment_inventory (id, equipment_type, size, gender, initial_count, issued_count, gift_count, last_updated) FROM stdin;
49	tshirt	S	female	3	0	0	2025-08-14 12:52:39.309
52	tshirt	XXL	male	3	0	0	2025-08-14 12:52:39.363
55	tshirt	M	female	3	0	0	2025-08-14 12:52:39.42
56	tshirt	L	male	3	0	0	2025-08-14 12:52:39.44
57	tshirt	L	female	3	0	0	2025-08-14 12:52:39.46
53	tshirt	XXXL	male	3	1	0	2025-08-14 12:53:33.355
50	tshirt	XL	male	3	1	1	2025-08-14 12:54:30.358
51	tshirt	XL	female	3	0	1	2025-08-14 16:04:52.074
54	tshirt	M	male	3	1	0	2025-08-20 11:52:25.574
\.


--
-- Data for Name: holidays; Type: TABLE DATA; Schema: public; Owner: bozos
--



--
-- Data for Name: member_administrator; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.member_administrator (id, username, email, display_name, password_hash, created_at, updated_at, last_login) FROM stdin;
\.


--
-- Data for Name: member_messages; Type: TABLE DATA; Schema: public; Owner: bozos
--



--
-- Data for Name: member_permissions; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.member_permissions (permission_id, member_id, can_manage_end_reasons, granted_by, granted_at, can_add_members, can_approve_activities, can_assign_passwords, can_create_activities, can_edit_members, can_export_data, can_manage_all_messages, can_manage_card_numbers, can_manage_financials, can_manage_membership, can_send_group_messages, can_view_activities, can_view_financials, can_view_members, can_view_statistics, updated_at) FROM stdin;
1	6	t	1	2025-08-12 19:25:05.492	f	t	t	t	f	t	t	t	f	f	t	t	f	f	t	2025-08-13 07:26:58.349
\.


--
-- Data for Name: member_skills; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.member_skills (member_id, skill_id, is_instructor, assigned_at) FROM stdin;
1	2	f	2025-08-14 12:52:57.555
6	11	t	2025-08-14 16:04:44.225
2	2	f	2025-08-14 16:04:55.534
2	4	f	2025-08-14 16:04:55.534
2	6	f	2025-08-14 16:04:55.534
\.


--
-- Data for Name: members; Type: TABLE DATA; Schema: public; Owner: bozos
--



--
-- Data for Name: membership_details; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.membership_details (member_id, card_number, fee_payment_year, card_stamp_issued, fee_payment_date, next_year_stamp_issued, status, active_until) FROM stdin;
1	033331	2025	t	2025-02-01 11:00:00	f	active	\N
2	033332	2025	t	2025-05-05 10:00:00	f	active	\N
6	033333	2025	t	2025-07-01 10:00:00	f	active	\N
4	033360	2025	f	2025-04-14 10:00:00	f	active	\N
7	033339	2025	t	2025-02-14 11:00:00	f	active	\N
5	022227	2021	f	2021-03-13 11:00:00	f	active	\N
3	\N	2025	f	2025-01-01 11:00:00	f	active	\N
\.


--
-- Data for Name: membership_periods; Type: TABLE DATA; Schema: public; Owner: bozos
--



--
-- Data for Name: message_recipient_status; Type: TABLE DATA; Schema: public; Owner: bozos
--



--
-- Data for Name: password_update_queue; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.password_update_queue (queue_id, member_id, card_number, created_at, processed) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: bozos
--



--
-- Data for Name: skills; Type: TABLE DATA; Schema: public; Owner: bozos
--



--
-- Data for Name: stamp_history; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.stamp_history (id, year, stamp_type, initial_count, issued_count, reset_date, reset_by, notes, stamp_year) FROM stdin;
\.


--
-- Data for Name: stamp_inventory; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.stamp_inventory (id, stamp_type, initial_count, issued_count, remaining, last_updated, stamp_year) FROM stdin;
3	pensioner	10	1	\N	2025-08-04 12:39:21.986	2025
2	student	10	1	\N	2025-08-14 16:55:20.486	2025
1	employed	10	5	\N	2025-08-20 12:05:28.798	2025
\.


--
-- Data for Name: system_manager; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.system_manager (id, username, email, display_name, password_hash, created_at, updated_at, last_login) FROM stdin;
0	System Manager	manager@example.com	System Manager	$2b$10$8GMBCWx8p6zNPkpYzWpzWuPuqs6EoKVeJGVS7wSHnpUlnrGWAJfEG	2025-07-23 10:23:07.994	2025-07-23 10:23:07.994	2025-10-01 18:36:47.721
\.


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: bozos
--

COPY public.system_settings (id, card_number_length, updated_at, renewal_start_day, updated_by, renewal_start_month, time_zone, membership_termination_day, membership_termination_month, duty_auto_create_enabled, duty_calendar_enabled, duty_max_participants) FROM stdin;
default	6	2025-10-01 12:18:34.412	1	0	10	Europe/Zagreb	1	3	t	t	2
\.


--
-- Name: activities_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.activities_activity_id_seq', 74, true);


--
-- Name: activity_participations_participation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.activity_participations_participation_id_seq', 267, true);


--
-- Name: activity_types_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.activity_types_type_id_seq', 174, true);


--
-- Name: annual_statistics_stat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.annual_statistics_stat_id_seq', 1014, true);


--
-- Name: audit_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.audit_logs_log_id_seq', 342, true);


--
-- Name: card_numbers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.card_numbers_id_seq', 34, true);


--
-- Name: consumed_card_numbers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.consumed_card_numbers_id_seq', 4, true);


--
-- Name: equipment_inventory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.equipment_inventory_id_seq', 57, true);


--
-- Name: holidays_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.holidays_id_seq', 13, true);


--
-- Name: member_administrator_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.member_administrator_id_seq', 1, false);


--
-- Name: member_messages_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.member_messages_message_id_seq', 15, true);


--
-- Name: member_permissions_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.member_permissions_permission_id_seq', 4, true);


--
-- Name: members_member_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.members_member_id_seq', 10, true);


--
-- Name: membership_periods_period_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.membership_periods_period_id_seq', 31, true);


--
-- Name: message_recipient_status_message_recipient_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.message_recipient_status_message_recipient_status_id_seq', 21, true);


--
-- Name: password_update_queue_queue_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.password_update_queue_queue_id_seq', 1, false);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.refresh_tokens_id_seq', 8427, true);


--
-- Name: skills_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.skills_id_seq', 102, true);


--
-- Name: stamp_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.stamp_history_id_seq', 1, false);


--
-- Name: stamp_inventory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.stamp_inventory_id_seq', 10, true);


--
-- Name: system_manager_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bozos
--

SELECT pg_catalog.setval('public.system_manager_id_seq', 1, false);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: activities activities_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_pkey PRIMARY KEY (activity_id);


--
-- Name: activity_participations activity_participations_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activity_participations
    ADD CONSTRAINT activity_participations_pkey PRIMARY KEY (participation_id);


--
-- Name: activity_types activity_types_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activity_types
    ADD CONSTRAINT activity_types_pkey PRIMARY KEY (type_id);


--
-- Name: annual_statistics annual_statistics_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.annual_statistics
    ADD CONSTRAINT annual_statistics_pkey PRIMARY KEY (stat_id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (log_id);


--
-- Name: card_numbers card_numbers_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.card_numbers
    ADD CONSTRAINT card_numbers_pkey PRIMARY KEY (id);


--
-- Name: consumed_card_numbers consumed_card_numbers_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.consumed_card_numbers
    ADD CONSTRAINT consumed_card_numbers_pkey PRIMARY KEY (id);


--
-- Name: equipment_inventory equipment_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.equipment_inventory
    ADD CONSTRAINT equipment_inventory_pkey PRIMARY KEY (id);


--
-- Name: holidays holidays_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.holidays
    ADD CONSTRAINT holidays_pkey PRIMARY KEY (id);


--
-- Name: member_administrator member_administrator_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_administrator
    ADD CONSTRAINT member_administrator_pkey PRIMARY KEY (id);


--
-- Name: member_messages member_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_messages
    ADD CONSTRAINT member_messages_pkey PRIMARY KEY (message_id);


--
-- Name: member_permissions member_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_permissions
    ADD CONSTRAINT member_permissions_pkey PRIMARY KEY (permission_id);


--
-- Name: member_skills member_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_skills
    ADD CONSTRAINT member_skills_pkey PRIMARY KEY (member_id, skill_id);


--
-- Name: members members_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.members
    ADD CONSTRAINT members_pkey PRIMARY KEY (member_id);


--
-- Name: membership_details membership_details_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.membership_details
    ADD CONSTRAINT membership_details_pkey PRIMARY KEY (member_id);


--
-- Name: membership_periods membership_periods_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.membership_periods
    ADD CONSTRAINT membership_periods_pkey PRIMARY KEY (period_id);


--
-- Name: message_recipient_status message_recipient_status_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.message_recipient_status
    ADD CONSTRAINT message_recipient_status_pkey PRIMARY KEY (message_recipient_status_id);


--
-- Name: password_update_queue password_update_queue_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.password_update_queue
    ADD CONSTRAINT password_update_queue_pkey PRIMARY KEY (queue_id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: skills skills_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_pkey PRIMARY KEY (id);


--
-- Name: stamp_history stamp_history_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.stamp_history
    ADD CONSTRAINT stamp_history_pkey PRIMARY KEY (id);


--
-- Name: stamp_inventory stamp_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.stamp_inventory
    ADD CONSTRAINT stamp_inventory_pkey PRIMARY KEY (id);


--
-- Name: system_manager system_manager_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.system_manager
    ADD CONSTRAINT system_manager_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: activities_start_date_idx; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX activities_start_date_idx ON public.activities USING btree (start_date);


--
-- Name: activities_type_id_idx; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX activities_type_id_idx ON public.activities USING btree (type_id);


--
-- Name: activity_participations_activity_id_member_id_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX activity_participations_activity_id_member_id_key ON public.activity_participations USING btree (activity_id, member_id);


--
-- Name: activity_types_key_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX activity_types_key_key ON public.activity_types USING btree (key);


--
-- Name: card_number_unique; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX card_number_unique ON public.card_numbers USING btree (card_number);


--
-- Name: consumed_card_numbers_card_number_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX consumed_card_numbers_card_number_key ON public.consumed_card_numbers USING btree (card_number);


--
-- Name: equipment_inventory_equipment_type_size_gender_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX equipment_inventory_equipment_type_size_gender_key ON public.equipment_inventory USING btree (equipment_type, size, gender);


--
-- Name: holidays_date_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX holidays_date_key ON public.holidays USING btree (date);


--
-- Name: idx_annual_statistics_member_year; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_annual_statistics_member_year ON public.annual_statistics USING btree (member_id, year);


--
-- Name: idx_card_numbers_member_id; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_card_numbers_member_id ON public.card_numbers USING btree (member_id);


--
-- Name: idx_card_numbers_status; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_card_numbers_status ON public.card_numbers USING btree (status);


--
-- Name: idx_member_permissions_granted_by; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_member_permissions_granted_by ON public.member_permissions USING btree (granted_by);


--
-- Name: idx_member_permissions_member; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_member_permissions_member ON public.member_permissions USING btree (member_id);


--
-- Name: idx_members_full_name; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_members_full_name ON public.members USING btree (full_name);


--
-- Name: idx_members_oib; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_members_oib ON public.members USING btree (oib);


--
-- Name: idx_members_total_hours; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_members_total_hours ON public.members USING btree (total_hours);


--
-- Name: idx_membership_details_card_stamp_issued; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_membership_details_card_stamp_issued ON public.membership_details USING btree (card_stamp_issued);


--
-- Name: idx_membership_details_fee_payment_date; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_membership_details_fee_payment_date ON public.membership_details USING btree (fee_payment_date);


--
-- Name: idx_membership_details_fee_payment_year; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_membership_details_fee_payment_year ON public.membership_details USING btree (fee_payment_year);


--
-- Name: idx_membership_details_next_year_stamp_issued; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_membership_details_next_year_stamp_issued ON public.membership_details USING btree (next_year_stamp_issued);


--
-- Name: idx_membership_periods_test_data; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_membership_periods_test_data ON public.membership_periods USING btree (is_test_data);


--
-- Name: idx_refresh_tokens_member_id; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX idx_refresh_tokens_member_id ON public.refresh_tokens USING btree (member_id);


--
-- Name: member_administrator_email_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX member_administrator_email_key ON public.member_administrator USING btree (email);


--
-- Name: member_administrator_username_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX member_administrator_username_key ON public.member_administrator USING btree (username);


--
-- Name: member_permissions_member_id_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX member_permissions_member_id_key ON public.member_permissions USING btree (member_id);


--
-- Name: members_oib_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX members_oib_key ON public.members USING btree (oib);


--
-- Name: membership_details_card_number_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX membership_details_card_number_key ON public.membership_details USING btree (card_number);


--
-- Name: message_recipient_status_message_id_idx; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX message_recipient_status_message_id_idx ON public.message_recipient_status USING btree (message_id);


--
-- Name: message_recipient_status_message_id_recipient_member_id_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX message_recipient_status_message_id_recipient_member_id_key ON public.message_recipient_status USING btree (message_id, recipient_member_id);


--
-- Name: message_recipient_status_recipient_member_id_idx; Type: INDEX; Schema: public; Owner: bozos
--

CREATE INDEX message_recipient_status_recipient_member_id_idx ON public.message_recipient_status USING btree (recipient_member_id);


--
-- Name: refresh_tokens_token_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX refresh_tokens_token_key ON public.refresh_tokens USING btree (token);


--
-- Name: skills_key_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX skills_key_key ON public.skills USING btree (key);


--
-- Name: skills_name_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX skills_name_key ON public.skills USING btree (name);


--
-- Name: stamp_type_year_unique; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX stamp_type_year_unique ON public.stamp_inventory USING btree (stamp_type, stamp_year);


--
-- Name: system_manager_email_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX system_manager_email_key ON public.system_manager USING btree (email);


--
-- Name: system_manager_username_key; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX system_manager_username_key ON public.system_manager USING btree (username);


--
-- Name: unique_member_year; Type: INDEX; Schema: public; Owner: bozos
--

CREATE UNIQUE INDEX unique_member_year ON public.annual_statistics USING btree (member_id, year);


--
-- Name: activities activities_organizer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_organizer_id_fkey FOREIGN KEY (organizer_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: activities activities_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activities
    ADD CONSTRAINT activities_type_id_fkey FOREIGN KEY (type_id) REFERENCES public.activity_types(type_id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: activity_participations activity_participations_activity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activity_participations
    ADD CONSTRAINT activity_participations_activity_id_fkey FOREIGN KEY (activity_id) REFERENCES public.activities(activity_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: activity_participations activity_participations_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.activity_participations
    ADD CONSTRAINT activity_participations_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: annual_statistics annual_statistics_member_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.annual_statistics
    ADD CONSTRAINT annual_statistics_member_fkey FOREIGN KEY (member_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_affected_member_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_affected_member_fkey FOREIGN KEY (affected_member) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: consumed_card_numbers consumed_card_numbers_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.consumed_card_numbers
    ADD CONSTRAINT consumed_card_numbers_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: card_numbers member_fk; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.card_numbers
    ADD CONSTRAINT member_fk FOREIGN KEY (member_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: member_messages member_messages_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_messages
    ADD CONSTRAINT member_messages_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: member_messages member_messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_messages
    ADD CONSTRAINT member_messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: member_permissions member_permissions_granted_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_permissions
    ADD CONSTRAINT member_permissions_granted_by_fkey FOREIGN KEY (granted_by) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: member_permissions member_permissions_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_permissions
    ADD CONSTRAINT member_permissions_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: member_skills member_skills_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_skills
    ADD CONSTRAINT member_skills_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: member_skills member_skills_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.member_skills
    ADD CONSTRAINT member_skills_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.skills(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: membership_details membership_details_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.membership_details
    ADD CONSTRAINT membership_details_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: membership_periods membership_periods_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.membership_periods
    ADD CONSTRAINT membership_periods_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: message_recipient_status message_recipient_status_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.message_recipient_status
    ADD CONSTRAINT message_recipient_status_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.member_messages(message_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: message_recipient_status message_recipient_status_recipient_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.message_recipient_status
    ADD CONSTRAINT message_recipient_status_recipient_member_id_fkey FOREIGN KEY (recipient_member_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: password_update_queue password_update_queue_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.password_update_queue
    ADD CONSTRAINT password_update_queue_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: stamp_history stamp_history_reset_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bozos
--

ALTER TABLE ONLY public.stamp_history
    ADD CONSTRAINT stamp_history_reset_by_fkey FOREIGN KEY (reset_by) REFERENCES public.members(member_id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: bozos
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

